# Auto detect text files and perform LF normalization
* text=auto
node_modules
config.json
process.env
commands/serverinfo/serverinfo.txt
commands/serverinfo/serverpw.txt
data/

commands/serverinfo/steamtoken.txt
log.txt
